<!DOCTYPE html>
<html> 
  <head>
    <title>HJDict Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="../dist/hjdict.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="searchbar">
        <input class="search" type="text" v-model="query" @keypress.enter="doquery">
        <div class="button" @click="doquery">Search</div>
      </div>
      <div class="dict" v-show="!failed &amp;&amp; candidates.length">
        <div class="block" v-for="word in candidates">
          <div class="sound" v-if="word.mp3" @click="play(word.mp3)"><img src="./volume-high.svg"></div>
          <div class="kanji" v-text="word.kanji || word.hanzi"></div>
          <div class="kana" v-text="word.kana"></div>
          <div class="roman" v-text="word.roman"></div>
          <div class="details" v-if="word.details">
            <div class="part" v-for="part in word.details">
              <div class="part_of_speech" v-text="part.part_of_speech"></div>
              <div class="item" v-for="item in part.items">
                <div class="list_item" v-if="item.type===&quot;list&quot;">
                  <div class="dot"></div>
                  <div class="list_jp" v-text="item.jp"></div>
                  <div class="list_cn" v-text="item.cn"></div>
                </div><span v-else v-text="item.text"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="loader" v-show="!failed &amp;&amp; !candidates.length">
        <div class="loader-inner"></div>
      </div>
      <div class="dict" v-show="failed">Failed to load data</div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>