<!DOCTYPE html>
<html> 
  <head>
    <title>HJDict Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="../dist/hjdict.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="searchbar">
        <input class="search" type="text" v-model="query" @keypress.enter="doquery">
        <div class="button" @click="doquery">Search</div>
      </div>
      <div class="dict-result" :class="{mini:floated, floated:floated}">
        <template v-if="!failed &amp;&amp; !explains.length">
          <div class="loader">
            <div class="loader-inner"></div>
          </div>
          <div class="loader-text">Querying...</div>
        </template>
        <template v-if="failed">
          <div class="brief">Failed to load data</div>
        </template>
        <template v-if="!failed &amp;&amp; explains.length">
          <div class="langs" v-text="from + &quot; &gt; &quot; + to"></div>
          <div class="block" v-for="exp in explains" :class="get_lang_class(from, to)">
            <div class="sound" v-if="exp.mp3" @click="play(exp.mp3)"><img src="./volume-high.svg"></div>
            <div class="primary" v-text="exp.primary"></div>
            <div class="secondary" v-text="exp.secondary"></div>
            <div class="tertiary" v-text="exp.tertiary"></div>
            <div class="brief" v-text="exp.brief"></div>
            <div class="details" v-if="exp.details">
              <div class="part" v-for="part in exp.details">
                <div class="part_of_speech" v-text="part.part_of_speech"></div>
                <div class="item" v-for="item in part.items">
                  <div class="list_item" v-if="item.type===&quot;list&quot;">
                    <div class="dot"></div>
                    <div class="part-a" v-text="item.jp"></div>
                    <div class="part-b" v-text="item.cn"></div>
                  </div><span v-else v-text="item.text"></span>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="powered"><span>Powered by</span><a href="https://github.com/antfu/hjdict">📚 HJDict</a></div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>