.font-jp {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.font-cn {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}
.searchbar {
  max-width: 735px;
  margin: 1.2em auto;
}
.dict-result {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  border: 1px solid #eee;
  border-radius: 5px;
  max-width: 700px;
  text-align: left;
  padding: 1em;
  margin: 0 auto 1.2em;
  position: relative;
}
.dict-result .langs {
  display: inline;
  border-radius: 5px;
  background: #4eb1d6;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: -12px;
  height: 12px;
  right: 10px;
  text-transform: uppercase;
  cursor: default;
}
.dict-result .block:not(:last-child) {
  margin-bottom: .7em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid #dff1f8;
}
.dict-result .block .primary {
  color: #4eb1d6;
  font-size: 1.6em;
  margin-left: 3px;
}
.dict-result .block .secondary {
  margin-top: -5px;
  margin-left: 3px;
}
.dict-result .block .tertiary {
  color: #999;
  margin-top: -5px;
  font-family: monospace;
  margin-left: 3px;
}
.dict-result .block .sound {
  float: right;
  opacity: .3;
  cursor: pointer;
  padding: .5em;
}
.dict-result .block .sound:hover {
  opacity: .5;
}
.dict-result .block .details {
  font-size: .9em;
  line-height: 2em;
}
.dict-result .block .details .part_of_speech {
  margin-top: 10px;
  background: #f4f4f4;
  padding: 0 1em;
  line-height: 1.8em;
  color: #555;
  font-size: .9em;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}
.dict-result .block .details .item {
  margin-left: .4em;
}
.dict-result .block .details .item .dot {
  display: inline-block;
  width: 2px;
  height: 2px;
  padding: 2px;
  margin: 0 .3em;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid #77c3e0;
}
.dict-result .block .details .item .part-a {
  display: inline-block;
  vertical-align: middle;
}
.dict-result .block .details .item .part-b {
  display: inline-block;
  opacity: .8;
  vertical-align: middle;
}
.dict-result .block .details .item .part-b::before {
  content: "/";
  margin: 0 4px;
}
.dict-result .lang-jp-cn {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}
.dict-result .lang-jp-cn .primary {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-jp-cn .secondary {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-jp-cn .tertiary {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-jp-cn .details .part-a {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-cn-jp {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}
.dict-result .lang-cn-jp .primary {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}
.dict-result .lang-cn-jp .secondary {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-cn-jp .tertiary {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result .lang-cn-jp .details .part-a {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
.dict-result.mini {
  font-size: .9em;
  max-width: 400px;
  max-height: 700px;
  overflow: scroll;
}
.dict-result.mini .langs {
  display: none;
}
.dict-result.floated {
  box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.2);
  margin: unset;
  position: absolute;
}
input[type=text],
select {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 1em;
  width: auto;
  padding: .4em 1em;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  user-select: none;
  padding: .5em 1em;
  background: #4eb1d6;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  display: inline-block;
  margin: .2em .2em 0;
  font-family: sans-serif;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background: #2d9bc4;
}
.loader {
  margin: 2em auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #77c3e0;
  top: 50%;
  animation: loader 2s infinite ease;
}
.loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #77c3e0;
  animation: loader-inner 2s infinite ease-in;
}
.loader-text {
  color: #4eb1d6;
  text-align: center;
  margin-top: -1em;
  margin-bottom: 1em;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.powered {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  text-align: center;
  padding: 2em;
  color: #cdcdcd;
  cursor: default;
}
.powered a {
  text-decoration: none;
  color: #aaa;
  margin-left: .5em;
}
