<!DOCTYPE html>
<html>
  <head>
    <title>HJDict Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="../dist/hjdict.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="searchbar">
        <input type="text" v-model="query" class="search" @keypress.enter="doquery">
        <div @click="doquery" class="button">Search</div>
      </div>
      <div v-show="!failed &amp;&amp; candidates.length" class="dict">
        <div v-for="word in candidates" class="block">
          <div v-if="word.mp3" @click="play(word.mp3)" class="sound"><img src="./volume-high.svg"></div>
          <div v-text="word.kanji" class="kanji"></div>
          <div v-text="word.kana" class="kana"></div>
          <div v-text="word.roman" class="roman"></div>
          <div v-if="word.details" class="details">
            <div v-for="part in word.details" class="part">
              <div v-text="part.part_of_speech" class="part_of_speech"></div>
              <div v-for="item in part.items" class="item">
                <div v-if="item.type===&quot;list&quot;" class="list_item">
                  <div class="dot"></div>
                  <div v-text="item.jp" class="list_jp"></div>
                  <div v-text="item.cn" class="list_cn"></div>
                </div><span v-else v-text="item.text"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-show="!failed &amp;&amp; !candidates.length" class="loader">
        <div class="loader-inner"></div>
      </div>
      <div v-show="failed" class="dict">Failed to load data</div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
