doctype html
html 
  head
    title HjDict Demo
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./index.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js')
    script(src='../dist/hjdict.js')
  body
    script#template-hjdict-query(type='text/x-template')
      include hjdict.vue.query.pug

    #app
      .searchbar
        input.search(type='text', v-model='query_input', @keypress.enter='doquery')
        .button(@click='doquery') Search

      hjdict-query(:query='query')

      .powered
        span Powered by
        a(href='https://github.com/antfu/hjdict') 📚 HjDict

    script(src='./index.js')
